
html {
	background-color: var(--color__imagebg);
}

/* WRAPPER --------------- */

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper>header {
	padding: 1em 0;
	text-align: center;
	font-size: 2em;
	color: var(--color__text);
}

/* POKEDEX --------------- */

.pokedex {
	display: inline-flex;
    width: 80vw;
    height: 80vh;
    background-color: var(--color__pokedexbody);
}


/* GLOSSARY --------------- */

.glossary {
	flex-basis: 24rem;
	height: 100%;
}

.glossary h2 {
	padding-top: 10px;
	padding-left: 10%;
	margin-bottom: 10px;
}

.glosslist {
	display: flex;
	height: 100%;
    flex-direction: column;
	list-style-type: none;
	overflow: hidden scroll;
}

.listbutton {
	width: 100%;
	padding: 0.31em 0 0.31em 0.62em;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 0;
	border-left: 1px solid;
	text-align: left;
	transition: font-size 0.5s;
}

li:last-child button {
	border-bottom: 1px solid;
}

.listbutton:hover {
	cursor: pointer;
	background-color: ghostwhite;
}

.listbutton:focus {
	outline-color: var(--color__pokedexbody);
	outline-width: thick;
}

.listbutton:active {
	background-color: darkgrey;
}

.selected {
	font-size: 3em;
	transition: font-size 0.5s;
}
    
/* DETAILS --------------- */





.weight::after {
	content: "kg";
}

.height::after {
	content: "m";
}

