
html {
	background-color: var(--color__imagebg);
}

/* WRAPPER --------------- */

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper>header {
	padding: 1em 0;
	text-align: center;
	font-size: 2em;
	color: var(--color__text);
}

/* POKEDEX --------------- */

.pokedex {
	display: inline-flex;
    width: 1000px;
    height: 500px;
    background-color: var(--color__pokedexbody);
    border-radius: 30px;
}

.glossary,
.details {
	flex: 1 0 500px;
}

/* GLOSSARY --------------- */

.glossary {
	/*background-color: var(--color__accent);*/
	height: 100%;
}

.glossary h2 {
	padding
}

.glossary ul {
	display: flex;
    flex-direction: column;
    padding-left: 10%;
	height: 90%;
	list-style-type: none;
	overflow: scroll;
}

.selected {
	transform: translateX(10%);
	color: var(--color__text);
	background-color: var(--color__selectedbuttons);
}
    
/* DETAILS --------------- */


.details {
	display: grid;
	position: relative;
	width: 500px;
	height: 500px;
	padding: 50px;
	grid-template-areas: 
						"image desclist" 
						"description description";
	grid-template-columns: 250px;
	grid-template-rows: 250px;
	/*background-color: var(--color__accent);*/
}

.splash {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.image {
	grid-area: image;
	padding-top: 0.62em;
}	

.desclist {
	display: grid;
	grid-area: desclist;
	grid-template-areas: "dt dd";
	padding-top: 1em;
	padding-left: 1em;
	background-color: var(--color__imageframe);
}

dt::after {
	content: ": ";
}

dd {
	padding-left: 1em;
}

dd, 
dt {
	padding-top: 1em;
}

.weight::after {
	content: "kg";
}

.height::after {
	content: "m";
}

.desc {
	grid-area: description;
	padding-top: 2em;
	padding-left: 1em;
}

.hidden {
	display: none;
}
