html {
	font-size: 16px;
	font-family:'Roboto', sans-serif;
	background-color: #fafafa;
	color: #222;
}

h1 {
	font-size: 3.24em;
	padding-bottom: 0.81rem;
	color: #da2d33;
}

p {
	width: 62%;
	text-align: center;
}

p + p {
	padding-top: 0.81rem;
}

p a:link,
p a:visited{
	display: inline-block;
	padding: 0 0.62em;
	color: blue;
	text-decoration: none;
}	

article {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}